Flask==3.0.3
mariadb
pandas
paramiko==3.4.0
pymssql
py-healthcheck
pysftp
psycopg2
prometheus-client
python-dotenv
requests==2.31.0
requests-pkcs12==1.24
SQLAlchemy
streamlit
streamlit-option-menu
streamlit-antd-components
altair==5.2.0
pymysql
streamlit_shadcn_ui==0.1.18
xlsxwriter